{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('app_registration'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'registration.submit'|trans }}</button>

        <a href="{{ path('fos_user_security_login') }}" class="text-center">Sign in</a>
    </div>
{{ form_end(form) }}
